<div class=" m-0 p-0 h-full d-flex align-items-center border-transparent">
  <div class="card-content">
    <h2 class="time font-weight-medium ">{{this.dayname}} {{this.day}} {{this.month}} , {{this.year}}</h2>
  </div>    
</div>
