<nav class=" h-100 mb-10">
    <div class="row h-full">
        <div class="col-2 ">
               <div class="row h-full ">
                <div class="col h-full border rounded border-transparent p-5">
                    <img class="img-fluid rounded-circle" src="https://picsum.photos/200" alt=".">
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col">
            <Header::Date/>
        </div>
        <div class="col ">
            <div class="row">
                <div class="col-3 d-flex">
                  <Header::Home::home/> 
                  <Header::Home::Settings/>
                </div>
                <div class="col"><Header::Notification::Container/></div>
                 <div class="col-3"><Header::Lighting::Switch/></div>
            </div>
        </div>
    </div>

</nav>
