<div class="row d-flex align-items-center h-full" >
{{!-- template-lint-disable no-whitespace-for-layout --}}
{{!-- template-lint-disable require-input-label --}}
<input 
type="text"
placeholder="Search Products ,Stores and Personnels Transactions"
class="w-full h-three-quarter boarder alt-dm shadow  bg-dark-light-dm bg-light rounded border-transparent" />
</div>