<div class="h-full m-0 d-flex align-items-center border-transparent justify-content-center">
<div class="custom-switch">
  <input type="checkbox" id="switch-1" {{on 'click' this.toggle}}>
  <label for="switch-1">  <span class="material-symbols-outlined">{{this.mode}}</span> </label>
</div>
</div>