<div class="row w-full h-full d-flex justify-content-between">
  <div class="col"></div>
   <div class="col d-flex align-items-center border-transparent ">
     <div class="custom-switch d-flex align-items-center">
      <input class='m-0'type="checkbox" id="switch-1" {{on 'click' this.toggle}}>
      <label for="switch-1"><span class="material-symbols-outlined">{{this.mode}}</span> </label>
    </div>
  </div>
</div>