<div class="container-fluid txt-center d-flex justify-content-between m-10 align-items-center text-muted">
    <Foot::Name/>
        <div class="content d-flex">
            Name <span class="material-symbols-outlined">copyright</span>{{this.year}}
        </div>
</div>