{{page-title "Home"}}
  <div class="content h-600">
    <div class="content-tittle">
        <h4>Performance in the last 24 hours</h4>
    </div>
      <div class="row p-0 mt-10 h-550">
       <Performance24::Productperformace24/>
       <Performance24::Storeperformace24/>
      </div>
    
  </div>


