{{page-title "Home"}}
  <div class="content h-600">
    <div class="content-tittle">
       
    </div>
  
      <div class="row p-0 mt-10 h-550">
       <Performance24::Productperformace24 @data={{product-performance24-modifer @model}}/>
       <Performance24::Storeperformace24 @data={{@model}}/>
      </div>
    
  </div>


