<div class=" m-5 border-transparent h-full d-flex align-items-center ">
   <LinkTo @route='dashboard'><button class="btn d-flex border-0 align-items-center" type="button"><span class="material-symbols-outlined">home</span></button></LinkTo>
</div>