<div class=" m-0 border-transparent h-full d-flex align-items-center ">
   <LinkTo @route='Dashboard'><button class="btn d-flex border-0 align-items-center" type="button"><span class="material-symbols-outlined">home</span></button></LinkTo>
</div>