<div class="right-0 h-50 w-400 d-flex algin-items-container">
   <img class=" h-50 p-5 rounded-circle" src="https://picsum.photos/200" alt=".">
   {{!-- template-lint-disable no-whitespace-for-layout --}}
   <h4 class=" d-inline-block p-0 ml-10 ">Bussiness name</h4>
</div>