<div class="card w-half m-0 border border-transparent">
    <div class="card-tittle font-weight-medium">
       <h5> Store performance</h5>
    </div>
    <svg  class=" w-full h-450  ">
        	<g {{did-insert this.svg @data }}  transform="translate(300, 230)">1</g>
     </svg>
</div>