<div class=" m-0 h-100 d-flex align-items-center">
    <div  class="h-half w-full boader rounded bg-light bg-dark-dm b">
        <div class="row h-full">
            <Header::Notification::Massage/>
            <Header::Notification::Alert/>
            <div class="col"></div>
        </div>
    </div>
</div>