<div class="col-1 ml-10 d-flex align-items-center justify-content-center">
     <div class="{{this.icon}} h-quarter w-half border p-10 text-dark-dm font-size-12 rounded-circle position-absolute bg-danger-lm bg-light-dm mb-20 ml-15 text-center align-items-center justify-content-center">{{this.count}}</div>
    <span class="material-symbols-rounded">chat_bubble</span> 
</div>